<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Molten: players online in the last 7 days</title>
        <script src="https://www.google.com/jsapi"></script>
        <meta name="description" content="Charts with an evolution of the number of players online on all Molten realms." />
        <meta name="keywords" content="charts, graphics, molten, molten-wow, players, world of warcraft, molten realms, players online,
                WotLK, Cata, MoP, Wrath of the Lich King, Cataclysm, Mists of Pandaria,
                Lordaeron, Deathwing, Ragnaros, Cataclysm, Frostwolf, Neltharion, Sargeras, Warsong, Stormstout" />
        <style type="text/css">
            html, body { margin: 0; padding: 0; }
            body { margin: 0 0 50px 0; }
            h1, h2 { color: #333; font-family: "Arial", sans-serif; text-align: center; margin-bottom: 0; }
            h2 { margin: 0; font-size: 12pt; color: #666; }
            .chart { width: 100%; height: 500px; }
        </style>
    </head>
    <body>
        <script>
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);

{#
    chart: cata or wotlk (since there are two charts, one for expansion)
    line: each one of the lines traced, two for realm (online and queued)
#}
            function drawChart() {
{% for chart in charts.keys() %}
                var {{ chart }}_chart_data = new google.visualization.DataTable();
                {{ chart }}_chart_data.addColumn('string', 'Time');
    {% for realm in realms[chart]['realms'] %}
                {{ chart }}_chart_data.addColumn('number', '{{ translations[realm] }} — online');
                {{ chart }}_chart_data.addColumn('number', '{{ translations[realm] }} — queued');
    {% endfor %}

                {{ chart }}_chart_data.addRows([
    {# for each one of the values... #}
    {% for sample in charts[chart].iteritems() %}
                    [
                        '{{ sample[0] }}',
        {% for lines in sample[1] %}
            {% for value in lines[1:] %}
                        {{ value }},
            {% endfor %}
        {% endfor %}
                    ],
    {% endfor %}
                ]);
{% endfor %}

                var options = {
                    'title': false,
                    'vAxis': {
                        'viewWindowMode': 'maximized',
                    }
                };

{% for chart in charts.keys() %}
                options.title = '{{ chart }}';
                options.vAxis.ticks = [
    {% for value in range(0, realms[chart]['capacity'] + 1500, 250) %}
        {% if value == realms[chart]['capacity'] %}
                    {v: {{ value }}, f: 'max'},
        {% else %}
                    {{ value }},
        {% endif %}
    {% endfor %}
                ];
                var {{ chart }}_chart = new google.visualization.LineChart(document.getElementById('{{ chart }}_chart_div'));
                {{ chart }}_chart.draw({{ chart }}_chart_data, options);
{% endfor %}
            }
        </script>

        <h1>Molten: players online in the last 7 days</h1>
        <h2>Last update: {{ now }} — Server time</h2>
        {# <h2>(This chart is now empty since Molten has decided to start showing their population numbers only to premium users, i.e., those who pay to win)</h2> #}
{% for chart in charts.keys() %}
        <div id="{{ chart }}_chart_div" class="chart"></div>
{% endfor %}
    </body>
</html>
